body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.falsh-message {
  color: green;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold
}

strong {
  font-weight: bold;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a{
  
}

a:link { /*未訪問のリンク*/
text-decoration:underline;
/*background-color :#ccccff;/*未訪問時のリンク、背景色*/
color:#000; /*黒色*/
}
a:visited { /*訪問済みのリンク*/
text-decoration:underline;
color:#666; /*グレー*/
}
a:active { /*ポイント時のリンク*/
text-decoration:underline;
color:#333333;
}
a:hover { /*マウスを乗せた時,選択中のリンク*/
text-decoration:underline;
background-color :#000;
color:#fff; /*白*/
}